/* General Styling */

body {
    font-family: sans-serif;
}

h2 {
    margin-bottom: 0px;
}

header {
    background-color: black;
    color:white;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    }

    /* Bottom Grid */

.bottom-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4em;
    grid-row-gap: 6em;
    margin-left:180px;
    margin-right:180px;
}

.bottom-grid > div > p {
    width:300px;
    color:rgba(32, 32, 32, 0.404);
    text-align: center;
    line-height: 30px;
    
}

.bottom-grid > div > img {
    width: 300px;

}

/* Top Grid */

.top-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align:center; 
    margin-bottom: 50px;
    grid-column-gap: 6em;

}

.top-grid > div > p {
    width:350px;
    text-align: center;
    grid-column-start: 2;
    margin-top:0px;
}

.top-grid > div > img {
    width: 600px;
    grid-column: 3;
     

}

.item1 {
    grid-column-start: 2;
}

